* { margin:0px; padding:0px; box-sizing:border-box;  }

:root  {  
    /* COLOR - PALETTES  */

            --main-bg:#F9F9F9;
            --main-gray:#F7F7F7;
            --main-blue:#627EEA;
            --white:#FFFFFF;
            --font-01:' ';
            --font-02:' ';
            --font-03:' ';
            --font-04:' ';
            --font-05:' ';

}

html,body { background-color:var(--main-bg);}
a { text-decoration:none; color:#677680; }

header { border:1px solid black; height:100px; display:flex; align-items:center; justify-content:space-around;}
header > button { height:49px; width:168px; }
#logo_container { border:1px solid black; height:26px; width:134.28px;      }
#cta_links_container { border:1px solid black; height:66px; width:631px; align-items:center; justify-content:space-around; display:flex;}


                                                    /* ------------------------------------- Section 01 --------------------------------------- */

#section_01 { border:1px solid rgb(0, 30, 255); display:flex; align-items:center; justify-content:center; margin-top:85px; padding:10px; }
#section_01 article { border:1px solid black; width:1065.75px; height:389px; display:flex; align-items:center; justify-content:space-between; flex-direction:column;  }
#section_01_btn_container { border:1px solid black; height:53px; width:368px; display:flex; align-items:center; justify-content:space-between;}


                                                    /* ------------------------------------- MAP BANNER --------------------------------------- */

#map_banner {  border:1px solid rgb(0, 0, 0); display:flex; align-items:center; justify-content:center; margin-top:85px; padding:10px; }
#map_banner > article { width:1472.06px; height:478.8px; border:1px solid rgb(255, 0, 187); }

                                                    /* ------------------------------------- FEATURES AND COMMUNICATION --------------------------------------- */

#features_communication {  border:1px solid rgb(0, 0, 0); display:flex; align-items:center; justify-content:center; margin-top:85px; padding:10px; }
#features_communication > article { width:1388px; height:526px; background-color:var(--white); border-radius:20px; padding:40px; display:flex; align-items:center; justify-content:space-between; border:1px solid black;}

#features_container_A { width:449px; height:408.46px; border:1px solid black; display:flex; align-items:flex-start; justify-content:space-between; flex-direction:column;}
    #features_container_A_01 { border:1px solid black; width:449px; height:182px; display:flex; align-items:flex-start; justify-content:space-between; flex-direction:column;}
    #features_container_A_02 { border:1px solid black; width:212.96px; height:57.46px; }
    
#features_container_B { width:726px; height:408.46px; border:1px solid black; display:flex; flex-direction:column; align-items:center; justify-content:space-between; }
    #features_container_B_01 { border:1px solid black; width:726px; height:185px; display:flex; align-items:flex-start; justify-content:space-between;  }
        #real_time_collab_container { width:333px; height:159px; border:1px solid red; display:flex; align-items:flex-start; justify-content:space-between; flex-direction:column;}

#features_container_B_02 { border:1px solid black; width:726px; height:185px; display:flex; align-items:flex-start; justify-content:space-between; }

#single_border_button { border-radius:100px; padding:14px 26px; background-color:none; border:1px solid #627EEA; }

                                                    /* ------------------------------------- FORGING STRONG --------------------------------------- */

#forging_strong_container {  border:1px solid rgb(0, 0, 0); display:flex; align-items:center; justify-content:center; margin-top:85px; padding:10px; }
#forging_strong_container > article { width:1232px; height:1004px; border:1px solid rgb(255, 0, 187); padding:40px; display:flex; align-items:center; justify-content:space-between; flex-direction:column;}

#forging_container_A { border:1px solid black; height:422px; width:1227px; display:flex; align-items:center; justify-content:space-between;  }
#forging_container_A1 { border:1px solid hotpink; width:569px; height:422px; border-radius:20px; }
#forging_container_A2 { border:1px solid hotpink; width:458px; height:343.46px; display:flex; align-items:flex-start; justify-content:space-between; flex-direction:column; }

#forging_container_B { border:1px solid rgb(72, 255, 0); height:422px; width:1227px; display:flex; align-content:flex-start; justify-content:space-between;  }
#forging_container_B1 { border:1px solid hotpink; width:503px; height:343.46px; display:flex; flex-direction:column; align-items:flex-start; justify-content:space-between; }
#forging_container_B2 { border:1px solid hotpink; width:569px; height:422px; }

.global_reach { border-radius:100px; padding:10px 20px; border:none; }


                                                    /* ------------------------------------- FREQUENTLY ASKED QUESTIONS --------------------------------------- */

#faq_container {  border:1px solid rgb(0, 0, 0); display:flex; align-items:center; justify-content:space-between; margin-top:85px; padding:10px; flex-direction:column; }
#faq_container > article { width:1140px; height:839px; border:1px solid rgb(0, 60, 255); padding:40px; display:flex; align-items:center; justify-content:space-between; flex-direction:column; }
.question_container { width:1140px; height:110px; border:1px solid #DCDCDC;  border-radius:20px; background-color:white; display:flex; align-items:center; justify-content:space-between; padding:41px; }

                                                    /* ------------------------------------- Connect Blue Container --------------------------------------- */

#connect_container {  border:1px solid rgb(0, 0, 0); display:flex; align-items:center; justify-content:center; margin-top:85px; padding:10px; }
#connect_container > article { width:1381px; height:395px; border-radius:20px; background-image:url('../../assets/Frame\ 42.png'); }


                                                    /* ------------------------------------- CLASSES --------------------------------------- */

.joinover35kcommunity { background-color:#2cb5871d; border-radius:100px; height:36px; width:185px; display:flex; align-items:center; justify-content:center; font-size:13px; color:#2CB385; }
#section_01_btn_container > button { border-radius:105px; padding:16px 25px; background-color:#627EEA; border:none; color:white;}
.button_style_01 {  border-radius:105px; padding:16px 25px; background-color:#627EEA; border:none; color:white; }
.watch_a_demo_container { border:1px solid black; width:158.5px; height:47px; display:flex; align-items:center; justify-content:space-between;}
.play_img { border:1px solid black; width:46px; height:46px; border-radius:127.8px; }
button { cursor: pointer; }

                                                    /* ------------------------------------- FOOTER --------------------------------------- */
footer { background-color:var(--white); height:703px; width:100%; background-color:#F9F9F9; display:flex; align-items:center; justify-content:center; flex-direction:column; gap:40px; }
footer > article { border:1px solid black; height:253px; width:1332.58px; background-image:url('../../assets/Frame\ 470.png');}

